body{
    font-family: 'Roboto', sans-serif;
}
.menu-scroll{
    display: flex;
    flex-direction: row;
    .box-menu{
        padding-left: 30px;
       
        width: calc(100% / 3);
        height: 440px;
        background:url(../bg-img/1.jpg )no-repeat center/cover;
        h1{
            font-family: 'PT Serif', serif !important;
        }
        }
        
        
       
    }
    .box-menu:nth-of-type(2){
         background:url(../bg-img/2.jpg )no-repeat center/cover;

    }
    .box-menu:nth-of-type(3){
         background:url(../bg-img/3.jpg )no-repeat center/cover;

    }
   
    .rouge{
        margin-top: 40px;
        width: 15%;
        padding: 5px;
        background: #ff0303;
    }
    a{
       text-decoration: none;
       color: white;
       font-weight:bold;
       text-transform: uppercase;
    }
        

    .main-1{
        padding-bottom: 15%;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .large-colonne{
        width: 75%;
        margin-top: 50px;
        .box-menu{
            .rouge{
                width: 14%;
            }
            p{
                width: 40%;
            }
        }
        img{
            width: 95%;
        }
        .blog{
            p{
                font-size: 20px;
                color: #9f9f9f;
                margin-top: 30px;
                width: 95%;
                line-height: 35px;
            }
        }
        .continue-reading{
            margin-bottom: 50px;
            .btn-white{
                color: black;
                border: 1px solid black;
            
            }
            
        }
        .img-text1{
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            gap: 2em;
            align-items: center;
            width: 95%;
            .text1{
                height: 80%;
                
                a{
                    width: 100%;
                    color: white;
                }
                h1 a{
                    color: black;
                }
                P a{
                    color: #1d1d1d;
                   
                }
                p{
                    color: #1d1d1d8c;
                    line-height: 25px;
                }
            }
            img{
                width: 280px;
                height: 45vh;
            }
            
        }
    }
    .étroite-colonne{
        margin-top: 70px;
        width: 40%;
        
        .breaking-news{
            margin-bottom: 30px;
            position: relative;
            background: url(../blog-img/bn-1.jpg) no-repeat center/cover;
            width: 250px;
            height: 250px;
            
            P:nth-of-type(1){
                position: relative;
                padding: 5px;
                width: 130px;
                font-size: 12px;
                background: #ff0303;
                color: white;
            }
          p:nth-of-type(2){
            position: relative;
            color: white;
            margin-top: 70%;
            margin-left: 20px;
            font-weight:600;
            width: 200px;
            line-height: 20px;

            }
            
        }
        .breaking-news:nth-of-type(2){
            background: url(../blog-img/bn-2.jpg) no-repeat center/cover;

        }
    
    }
    .dont-miss{
        width: 100%;
        margin-top: 30px;
        .img-text{
            width: 255px;
            display: flex;
            flex-direction: row;
           gap: 1.5em;
           margin-bottom: 30px;
            .dont-miss-text{
                font-size: 12px;
                display: flex;
            flex-direction: column;

            }
        }
        a{
            color: black;
        }
        .add img{
            margin:30px ;
        }

        
    }
    .subscribe{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        width: 260px;
        margin-top: 40px;
        input{
            background: rgba(128, 128, 128, 0.219);
            padding:  15px 40px;
            border: 1px solid #ffffff;
            text-align: left;
        }
        .btn-red{
            text-align: center;
            background: #ff0303;

        }
       
    }
}
.breaking-news::before{
    content: '';
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.308);
}
.quatre-colonnes{
    a{
        padding: 6px 10px;
        background: #ff0303;
        width: 20%;
    }
    h3 a{
        background: none;
    }
    padding-bottom: 7%;
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: row;
    gap: 2em;
    
    .colonnes-video{
        width: 60%;
        .img1 img{
            width: 80%;
            margin-bottom: 20px;
        }
        h3 a{
            color: black;
            
        }
        h3{
            margin-top: 25px;
            font-size: 15px;
            width: 100%;
        }
        p{
            margin-left: 10px;
            color: #9f9f9f;
            margin-bottom: 20px;
        }
    }
}
.colonnes-de-milieu{
    .box-colonnes-de-milieu{
        img {
            width: 75%;
            margin-bottom: 20px;
        }
        img:nth-of-type(4){
            padding-top: 30px;

        }
       h3 a{
        
        background: none;
            color: #1d1d1d;
        }
        p{
            color: #9f9f9f;
            margin-bottom: 30px;
           
        }
        h3{
            line-height: 25px;
            font-size: 15px;
            width: 80%;
        }
    }

}
.parti-huit-video{
   
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-direction: column;
    .col1{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .box-video{
       
        width: 60%;
        img{
            width: 90%;
        }
        h3{
            font-weight:300;
            max-width: 80%;
        }
         a{
            line-height: 25px;
            color: black;
            font-size: 15px;
         
        }
    }
}
.today{
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 25px;
    font-weight: bold;
}
.img-text{
    .text{
        a{
            color: #1d1d1d;
        }
    }
}
.bitcoin{
    margin-top: 10%;
    background: #1d1d1d ;
    height: 70vh;
    padding-top:40px;
    .bitcoin-centré{
        margin: 0 auto;
        width: 1300px;
        display: flex;
        flex-direction: row;
        gap: 2em;
        .text{
            margin-top: 30px;
            width: 50%;
            a{
                background: #ff0303;
                padding: 5px;
            }
            h1 a{
                background: #1d1d1d;
                
            }
            h1{
                line-height: 50px;
                width: 60%;
            }
            p{
                color: #ffffffc0;
                width: 90%;
                line-height: 35px;
            }
        }
    }
}

   
   

    

